<section class="spa">
  <header class="spa-header">
    <h1>todos</h1>
    <form id="new-task-form">
      <input type="text" class="new-task" />
    </form>
  </header>

  <section class="spa-main">
    <ul class="todo-list">
    </ul>
  </section>
</section>
