<section class="spa">
  <header class="spa-header">
    <h1>todos</h1>
    <form id="new-task-form">
      <input type="text" class="new-task" placeholder="Type here to add a task" />
    </form>
  </header>

  <section class="spa-main">
    <ul class="todo-list">
    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application built by 
  <%= link_to "Steve Tice", "https://github.com/stic6021" %>
</section>